.idea/*
*.csv
*.parquet
output.tex

!CoalOld.csv
!naturalGasOld.csv
!oilWtiOld.csv
!uranOld.csv
!preset-comparison.csv
!feature_importance.csv
!foreCastAllData.csv
!resAG.csv
!comparison-forecastet-known-ag.csv
!comparison-ag.csv
!preset-known.csv